@model IEnumerable<Project_eStudiez.Models.tbl_user>

@{
    ViewBag.Title = "AllTeachers";
    if (Session["role"].Equals("Student"))
    {
        Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    }
    else if (Session["role"].Equals("Parent/Guardian"))
    {
        Layout = "~/Views/Shared/_LayoutParent.cshtml";
    }
    else if (Session["role"].Equals("Teacher"))
    {
        Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    }
    else if (Session["role"].Equals("Super Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}





<div class="pagetitle">
    <h1>Teachers</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("HomePage","Home")">eStudiez</a></li>
            <li class="breadcrumb-item active">Teachers</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="mt-top-50">
    <h3 class="text-danger">@TempData["err"]</h3>
    <h3 class="text-danger">@TempData["msg"]</h3>
</div>
<table id="update10" class="display table-bordered table_idd">
    <thead class="tbl_head">
        <tr>
            <th>Teacher Image</th>
            <th>Teacher Name</th>
            <th>Teacher Email</th>
            <th>Teacher Address</th>
            <th>Teacher Phone</th>
            <th>Delete Teacher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img-fluid" height="80" width="80" src="@Url.Content(item.user_image)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_phone)
                </td>

                <td class="text-center">


                    @using (Ajax.BeginForm("DeleteTeachers", "Home",
                              new AjaxOptions()
                              {
                                  HttpMethod = "POST",
                                  InsertionMode = InsertionMode.Replace,
                                  UpdateTargetId = "update10"
                              }))
                    {
                        <input class="d-none" hidden value="@item.user_id" name="id" />
                        <button type="submit" class="border-0"><i class="bi bi-trash btn btn-danger"></i></button>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>



<script>
    document.querySelector("#title").innerHTML = " eStudiez / Teachers";
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>










