@model  Project_eStudiez.OtherMethods.Class3in1


<thead class="tbl_head">
    <tr>
        <th>Serial no.</th>
        <th>Class Name</th>
        <th>Title Of Pdf</th>
        <th>Click On Pdf to Download</th>
        <th>Delete Pdf</th>

    </tr>
</thead>
<tbody>
    @{
       var i = 0;
    }
    @foreach (var item in Model.lst_tbl_pdf)
    {
        <tr>
            <td>
                @(i+=1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdf_class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdf_title)
            </td>
            <td class="text-center">
                <a href="@Url.Content(item.pdf_material)" download="@item.pdf_title"><img height="60" width="60" src="~/image/Newfolder/pdf-icon.png" /></a>
            </td>


            @*<td class="text-center">
                    <a href="@Url.Action("PdfDelete","Home",new { id =item.pdf_id})" class="btn btn-danger btn-sm" title="Delete pdf"><i class="bi bi-trash"></i></a>
                </td>*@
            <td class="text-center">


                @using (Ajax.BeginForm("PdfDelete", "Home",
                          new AjaxOptions()
                          {
                              HttpMethod = "POST",
                              InsertionMode = InsertionMode.Replace,
                              UpdateTargetId = "update13"
                          }))
                {
                    <input class="d-none" hidden value="@item.pdf_id" name="id" />
                    <button type="submit" class="border-0"><i class="bi bi-trash btn btn-danger"></i></button>
                }
            </td>
        </tr>
    }

</tbody>
