@model IEnumerable<Project_eStudiez.Models.tbl_feedback>

<thead class="tbl_head">
    <tr>
        <th>Reviewer Name</th>
        <th>Reviewer email</th>
        <th>Reviewer Subject</th>
        <th>Reviewer Role</th>
        <th>Reviewer Message</th>
        <th>Reviewer Posted Time</th>
        <th>Delete Feedback</th>

    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.feedback_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feedback_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feedback_subject)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.feedback_role) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feedback_message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feedback_datetime)
            </td>

            <td class="text-center">
                @using (Ajax.BeginForm("ViewFeedback", "Home",
                          new AjaxOptions()
                          {
                              HttpMethod = "POST",
                              InsertionMode = InsertionMode.Replace,
                              UpdateTargetId = "update22"
                          }))
                {
                    <input class="d-none" hidden value="@item.feedback_id" name="id" />
                    <button type="submit" class="border-0"><i class="bi bi-trash btn btn-danger"></i></button>
                }
            </td>

        </tr>
    }

</tbody>
